<div class="ui secondary pointing big stackable menu">
  <a href="{%url 'radio:home_radio_view' %}" class="ui {% if title == 'home' %} active{% endif %} item">
    Home
  </a>
  <a href=" {% url 'radio:user_radio_view' request.user.username %}" class="ui {% if title == 'profile' %} active{% endif %} item">
    {{request.user.username | capfirst}}
  </a>
  <a class="ui {% if title == 'friends' %} active{% endif %} item" href = " {% url 'profiles:friends_view' %}">
    Friends
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <form action="{% url 'profiles:search_friend_view' %}">
          <input type="text" placeholder="It might work. xD" name = "query_string">
          <button type = "submit" class = "ui circular icon button">
            <i class="search link icon"></i> 
          </button>
        </form>
      </div>
    </div>
    <a href="{% url 'profiles:logout_view' %}" class="ui item">
      Logout
    </a>
  </div>
</div>
