{% extends 'main/base.html' %}

{% block content %}
    <div class = "ui sixteen column centered grid">
        {% include 'radio/post_song.html' %}
        
        <div class = "ui ten column row">
            <div id="player" class = ""></div>
        </div>
        <div class = "ui bottom attached message big"> 
            <p>Suggested by <a href = "" id = "author_username"></a> </p>
        </div>
    </div>

    <script>
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        var videoIDs = [];
        var authorList = [];
        var authorURLList = [];
        {% for post in posts %}
            videoIDs.push( '{{ post.yt_code }}' );
            authorList.push( ' {{ post.author.username }}');
            authorURLList.push('{% url 'radio:user_radio_view' post.author.username %}')
        {% endfor %}
        var player, currentVideoId = 0;
    </script>
{% endblock content %}